/* Css styling goes here */

/*Prevents highlighting of css elements*/
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 
	
	Overlay section 

*/

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Shown by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#text{
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
/*

	End of overlay section

*/

.not-allowed {
    background-color: lightgrey;
	cursor: not-allowed;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.hidden {
	display: none !important;
}

.no-bullets {
	list-style-type: none;
}

.object_pictures {
	margin-right:3em;
}

.scrollable {
	position: relative;
    border: 5px solid black;
    padding: 5px;
    background: white;
    overflow: auto;
    height: 600px;
 	overflow-y: scroll;
 	border-radius: 25px 25px 25px 25px;
}

.overlay-box {
	max-width: 600px;
    overflow: auto;
    height: 600px;
    overflow-y: scroll;
    margin: auto;
    margin-top: 5%;
    background: white;
}

.round {
	border-radius: 25px 25px 25px 25px;
}

.button-group {
	display: inline-block;
    padding: 0;
    margin: 0;
}


.left-box {
	border: 2px solid black;
	width: 960px;
    margin: 0 auto; 
}

.text-container {
	border-radius: 25px;
	padding-left: 1em;
}

.scroll-title {
	padding-top: .5em;
	font-weight: bold;
}

.box {
	position: relative;
	border: 5px solid black;
}

.sticky-bottom {
	position:relative;
	bottom:0
}

/* Putting the mountain stages on the bottom of div container */
.div-wrapper {
    position: relative;
    height: calc(100% - 60px);
    width: 100%;
    background-color: #f1ecda;
}
.div-wrapper img {
    position: absolute;
    /*left: 0;
    bottom: 0;*/
}

/*Adjusting the size of img to fit the screen*/
img {
	max-width: 100%;
	max-height: 100%;
}

.mountain {
	left: 50%;
	bottom: 0px;
	transform: translate(-50%, 0);
}

/* Displaying mountain stages by id (mountain0 = default)*/
#mountain0 {
	display: none;
}
#mountain1 {
	display: none;
}
#mountain2 {
	display: none;
}
#mountain3 {
	display: none;
}
#mountain4 {
	display: none;
}
#mountain5 {
	display: none;

}

/* Positioning of resources */
#f-metal {
	top: 23%;
	left: 6%;
}
#f-stone {
	top: 3%;
	left: 22%;
}
#f-wood {
	top: 15%;
	left: 80%;
}

/* Positioning of buildings */

#build1 {
	bottom: 48.5%;
	left: 22%;
	display: block;
}

#build2 {
	bottom: 48.5%;
	left: 40%;
	display: block;
}

#build3 {
	bottom: 48.5%;
	left: 53%;
	display: block;
}

#build4 {
	bottom: 48.5%;
	left: 31%;
	display: block;
}

#build5 {
	bottom: 48.5%;
	left: 44%;
	display: block;
}

#build6 {
	bottom: 48.5%;
	left: 70%;
	display: block;
}

#build7 {
	bottom: 48.5%;
	left: 28%;
	display: block;
}

#build8 {
	bottom: 48.5%;
	left: 41%;
	display: block;
}

#build9 {
	bottom: 48.5%;
	left: 61%;
	display: block;
}

#build10 {
	bottom: 48.5%;
	left: 67%;
	display: block;
}

.text-container {
	border:1px solid black;
}

.object_pictures {
	float:right;
	width: 5em;
}