/* Css styling goes here */

.no-bullets {
	list-style-type: none;
}


.scrollable {
	position: relative;
    border: 5px solid black;
    padding: 5px;
    background: white;
    overflow: auto;
    height: 600px;
 	overflow-y: scroll;
}

.left-box {
	border: 2px solid black;
	width: 960px;
    margin: 0 auto; 
}

.box {
	position: relative;
	border: 5px solid black;
}

.sticky-bottom {
	position:relative;
	bottom:0
}

.text-container {
	border:1px solid black;
}

.object_pictures {
	float:right;
	width: 5em;
}